<body class="body">
  <router-outlet />
  <div class="contenedor">
      <div class="gloglo">
        <img src="gloglo.png" alt="" width="800">
    </div>
    
    <img class="imagen_opacidad" src="zzz1500x500.jpg" alt="" width="1500" height="500">
    
    <div class="shadoune">
      <img src="shadoune.png" alt="" width="800">
    </div>
    <div class="peleadores">
      <div class="enfrentamientos">
      <div class="grid">
        <div class="one celda">
          <img src="shadoune-cara.png" alt="">
        </div>
        <div class="two celda">
          <img src="gloglo-cara.png" alt="">
        </div>
        <div class="three celda">
          <img src="zully-cara.png" alt="">
        </div>
        
      </div>
      <div class="segundafila">
        <div class="grid">
          <div class="four celda alternar">
            <img src="lapiinky-cara.png" alt="">
          </div>  
          <div class="five celda alternar">
            <img src="kingteka-cara.png" alt="">
          </div>
          <!-- <div class="six celda">
            <img src="smash-cara.png" alt="">
          </div> -->
        </div>
      </div>
      
    </div>
    <div class="enfrentamientos _2">
      <div class="grid">
        
        <div class="six celda">
          <img src="smash-cara.png" alt="">
        </div>
        
        <div class="two celda">
          <img src="dafonseka-cara.png" alt="">
        </div>
        <div class="three celda">
          <img src="canita-cara.png" alt="">
        </div>
        
      </div>
      <div class="segundafila">
        <div class="grid">
          <!-- <div class="four celda">
            <img src="cristorata-cara.png" alt="">
          </div>   -->
          <div class="five celda alternar2">
            <img src="cristorata-cara.png" alt="">
          </div>
          <div class="six celda alternar2">
            <img src="fanodrick-cara.png" alt="">
          </div>
        </div>
      </div>
      
    </div>
    </div>
    
  </div>
  
</body>


