<body class="body">
  <router-outlet />
  <div class="contenedor" id="contenedor">
      <div id="mostrarIzquierda" (click)="imagenIzquierdaClick(primerOponente)" *ngIf="mostrarizquierda" class="gloglo" [ngClass]="{ 'delay': quitardelayenunmomento }" >
        <img id="iamgenDeIzquierda" [ngClass]="{ 'voltearesto': voltearPrimera }" src={{primerOponente}} alt="" width="800">
        
    </div>
    
    <div id="botonRegresar" >
      <div class="botonRegresar">
        <div style="text-align: center;">
          <button  (click)="imagenDetalle()">
            @if (estadisticasDeDerecha) {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
              } 
              @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
              }
            
          </button>
        </div>
        <div class="estadisticasData">
          <div>
            <p style="color: white;">Nombre: </p>
            <p style="color: white;">{{dataEstadisticas?.nombre}}</p>
          </div>
          <div>
            <p style="color: white;">Peso: </p>
            <p style="color: white;">{{dataEstadisticas?.peso}} Kg </p>
          </div>
          <div>
            <p style="color: white;">Categoria de peso: </p>
            <p style="color: white;">{{dataEstadisticas?.categoriaDePeso}}</p>
          </div>
          <div>
            <p style="color: white;">Estatura: </p>
            <p style="color: white;">{{dataEstadisticas?.estatura}} Cm</p>
          </div>
          <div>
            <p style="color: white;">Mano dominante: </p>
            <p style="color: white;">{{dataEstadisticas?.manoDominante}}</p>
          </div>
          <div>
            <p style="color: white;">Entrenador: </p>
            <p style="color: white;">{{dataEstadisticas?.entrenador}}</p>
          </div>
          <div>
            <p style="color: white;">Puntos fuertes: </p>
            <p style="color: white;">{{dataEstadisticas?.puntoFuerte}}</p>
          </div>
          <div>
            <p style="color: white;">Puntos debiles: </p>
            <p style="color: white;">{{dataEstadisticas?.puntoDebil}}</p>
          </div>
          <div>
            <p style="color: white;">Tamaño de guentes: </p>
            <p style="color: white;">{{dataEstadisticas?.guanteTamano}}</p>
          </div>
        
        </div>
      </div>
    </div>
    
    <img id="imagen_opacidad" class="imagen_opacidad" src="zzz1500x500.jpg" alt="" width="1363" height="454">
    
    
    <a id="logoversus" href={{linkhref}} target="_blank">
      <div class="botondeversus versus" *ngIf="mostrarversus">
        <span >VS.</span>
      </div>
    </a>
    <div id="mostrarDerecha" (click)="imagenDerechaClick(segundoOponente)" *ngIf="mostrarderecha" class="shadoune" [ngClass]="{ 'delay': quitardelayenunmomento }">
      <img  id="imagenamover" [ngClass]="{ 'voltearesto': voltearSegunda }" src={{segundoOponente}} alt="" width="800">
    </div>
    <div id="peleadores" class="peleadores" *ngIf="peleadores">
      <div class="enfrentamientos">
      <div class="grid">
        <div class="one celda" (click)="ejecutarAlgo('shadoune')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
          <img src="shadoune-cara.png" alt="">
        </div>
        <div class="two celda" (click)="ejecutarAlgo('gloglo')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
          <img src="gloglo-cara.png" alt="">
        </div>
        <div class="three celda" (click)="ejecutarAlgo('zully')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
          <img src="zully-cara.png" alt="">
        </div>
        
      </div>
      <div class="segundafila">
        <div class="grid">
          <div class="four celda alternar" (click)="ejecutarAlgo('lapiinky')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
            <img src="lapiinky-cara.png" alt="">
          </div>  
          <div class="five celda alternar" (click)="ejecutarAlgo('kingteka')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
            <img src="kingteka-cara.png" alt="">
          </div>
          <!-- <div class="six celda">
            <img src="smash-cara.png" alt="">
          </div> -->
        </div>
      </div>
      
    </div>
    <div class="enfrentamientos _2">
      <div class="grid">
        
        <div class="six celda" (click)="ejecutarAlgo('smash')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
          <img src="smash-cara.png" alt="">
        </div>
        
        <div class="two celda" (click)="ejecutarAlgo('dafonseka')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
          <img src="dafonseka-cara.png" alt="">
        </div>
        <div class="three celda" (click)="ejecutarAlgo('canita')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
          <img src="canita-cara.png" alt="">
        </div>
        
      </div>
      <div class="segundafila">
        <div class="grid">
          <!-- <div class="four celda">
            <img src="cristorata-cara.png" alt="">
          </div>   -->
          <div class="five celda alternar2" (click)="ejecutarAlgo('cristorata')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
            <img src="cristorata-cara.png" alt="">
          </div>
          <div class="six celda alternar2" (click)="ejecutarAlgo('fanodrick')" [ngClass]="{ 'cursorp1': cursor,'cursorp2': !cursor }">
            <img src="fanodrick-cara.png" alt="">
          </div>
        </div>
      </div>
      
    </div>
    </div>
    
  </div>
  
</body>


