/* body{
    background: linear-gradient(60deg, rgb(247 200 108) 0%, rgb(171 122 40) 13%, rgb(102 71 26) 27%, rgb(36 21 13) 53%, rgb(37 28 23) 100%);
    height: 100vh;
} */

body{
    background: linear-gradient(60deg, rgb(171 122 40) 0%, rgb(36 21 13) 40%);
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    view-transition-name: none;
}

.contenedor{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: end;
    align-items: center;
    position: relative;
    flex-direction: column;
    
    /* gap: 5rem; */
}
.imagen_opacidad{
    /* opacity: 0; */
    animation: opacidad 1.5s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    animation-delay: 2s;
    z-index: 0;
    mask-image: radial-gradient(black 20%, transparent);
    margin-bottom: 10rem;
}
.botonRegresar{
    display: flex;
    
    gap: 20px;
    flex-direction: column;
}
.estadisticasData{
    display: grid;
    grid-template-columns: 140px 140px 140px 140px;
    padding: 20px;
    gap: 30px;
}
.estadisticasData p{
    text-align: center;
   
}

@media (max-width: 1524px) {
    .imagen_opacidad{
        /* opacity: 0; */
        width: 750px;
        height: 250px;
    }
}

@media (max-width: 786px) {
    .imagen_opacidad{
        /* opacity: 0; */
        width: 500px;
        height: 166px;
    }
}

@media (max-width: 730px) {
    .imagen_opacidad{
        /* opacity: 0; */
        width: 375px;
        height: 125px;
    }
}


@media (max-width: 378px) {
    .imagen_opacidad{
        /* opacity: 0; */
        width: 300px;
        height: 100px;
    }
}

.gloglo,.shadoune,.botondeversus{
    position: fixed;
    /* background-color: rgb(255, 0, 0); */
    /* height: 50%; 
    width: 50%; */
    /* z-index: 20; */
}
.gloglo:hover,.shadoune:hover{
    cursor: pointer;
}
.botondeversus{
    z-index: 20;
    animation: testanimation 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}
.botondeversus span{
   user-select: none;
}
.botondeversus:hover{
    border-color: rgb(247 200 108);
    color: rgb(171 122 40);
    cursor: pointer;
}
.versus {
    transition-duration: 0.3s;
    position: absolute;
    width: 8vw;
    height: 8vw;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.4vw;
    color: rgb(247 200 108);
    border-width: 10px;
    border-style: solid;
    border-color: rgb(171 122 40) ;
    transform: rotate(-45deg);
  }
@keyframes testanimation {
    from {
      transform: scale(1);
    }
  
    to {
        transform: scale(1.3);
    }
  }

@keyframes opacidad {
    from {
      opacity: 1;
    }
  
    to {
        opacity: 0;
    }
  }

  @keyframes aparecer-izquierda {
    0% {
        left: -800px;
    }

    100%{
        left: -150px;
    }
  }

  @keyframes aparecer-derecha {
    0% {
        right: -800px;
    }

    100%{
        right: -150px;
    }
  }


.gloglo{
    left: -800px;
    /* opacity: 0; */
    animation: aparecer-izquierda 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    /* animation-delay: 3s; */
    /* animation-direction: reverse;  */
}

.shadoune{
    
}
.shadoune{
    right: -800px;
    animation: aparecer-derecha 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    /* animation-delay: 3s; */
}
.delay{
    animation-delay: 2.5s;
}
.shadoune img,.gloglo img {
    mask-image: linear-gradient(black 80%, transparent);
}

@media (max-width: 1468px) {
    .shadoune img,.gloglo img {
        width: 700px;
    }
}

@media (max-width: 1314px) {
    .shadoune img,.gloglo img {
        width: 600px;
    }
}
@media (max-width: 1116px) {
    .shadoune img,.gloglo img {
        width: 500px;
    }
}
@media (max-width: 906px) {
    .shadoune img,.gloglo img {
        width: 400px;
    }
}
@media (max-width: 522px) {
    .shadoune img,.gloglo img {
        width: 300px;
    }
}
.enfrentamientos{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.enfrentamientos._2{
    transform: scaleX(-1);
}

.voltearesto{
    transform: scaleX(-1);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 0px;
    grid-auto-rows: minmax(auto, 100px);
    /* grid-auto-columns: minmax(auto, 200px); */
    /* background-color: red; */
}

@media (max-width: 742px) {
    .grid{
        grid-template-columns: repeat(3, 80px);
    }
    .enfrentamientos{
        gap: 0px;
    }
}
@media (max-width: 596px) {
    /* .grid{
        grid-template-columns: repeat(3, 80px);
    } */
    .grid{
        grid-template-columns: repeat(3, 70px);
    }
}

.celda{
    /* max-width: 200px;
    max-height: 200px; */
    /* background-color: aqua; */
    mask-image: url(/mascara2.png);
    mask-size: cover;
    /* width: 100%;
    height: 100%; */
    /* mask-mode: alpha; */
    margin-left: -33px;
    z-index: 30;
    
}
.cursorp1{
    cursor: url('/cursorp1.png'), auto;
}
.cursorp2{
    cursor: url('/cursorp2.png'), auto;
}
.celda:hover{
    /* object-fit: cover; */
    transform: scale(1.1);
    z-index: 40;
    background-color: rgb(171 122 40);
    /* opacity: 0; */
    transition-duration: 0.3s;
}

.celda:hover img{
    /* object-fit: cover; */
    opacity: 0.5;
}

.celda img {
    /* object-fit: cover; */
    width: 100%; 
    height: 100%;
}
.segundafila{
    margin-left: 20px;
}
@media (max-width: 536px) {
    /* .grid{
        grid-template-columns: repeat(3, 80px);
    } */
    .segundafila{
        margin-left: 0px;
    }
}


.peleadores{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}
@media (max-width: 616px) {
    /* .grid{
        grid-template-columns: repeat(3, 80px);
    } */
    .peleadores{
        gap: 5px;
    }
    
}
@media (max-width: 496px) {
    .grid{
        grid-template-columns: repeat(3, 80px);
    }
    .peleadores{
        flex-direction: column;
        gap: 0px;
    }
    .enfrentamientos._2{
        transform: scaleX(1);
    }
    .segundafila{
        margin-left: 20px;
    }
    .contenedor{
        /* gap: 4rem; */
    }
    .gloglo,.shadoune{
        top: 0;
    }
    .versus{
        top: -521px;
        border-width: 2px;
    }
}



.grid .four.celda.alternar{
    grid-column: 3;
}

.grid .five.celda.alternar{
    grid-column: 2;
    grid-row: 1;
}

.grid .five.celda.alternar2{
    grid-column: 3;
    grid-row: 1;
}

.grid .six.celda.alternar2{
    grid-column: 2;
    grid-row: 1;
}

.caja {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
#botonRegresar{
    display: none;
}